.idea/
.lsp/
.vscode/
venv/
pr_agent/settings/.secrets.toml
__pycache__
dist/
*.egg-info/
build/
.DS_Store
docs/.cache/

document a ignorer
localhost.json
setup.py
pyproject.toml
localhost.yml
MANIFEST.in
localhost.sql
localhost data connection.doc
codecov.yml
pr-agent\pr_agent\secret_providers\__init__.py
pr-agent\pr_agent\secret_providers\google_cloud_storage_secret_provider.py
pr-agent\pr_agent\secret_providers\secret_provider.py
pr-agent\pr_agent\identity_providers\__init__.py
pr-agent\pr_agent\identity_providers\default_identity_provider.py
pr-agent\pr_agent\identity_providers\identity_provider.py
pr-agent\pr_agent\servers\gitlab_webhook.py
pr-agent\pr_agent\servers\gunicorn_config.py
pr-agent\pr_agent\servers\help.py
pr-agent\pr_agent\servers\serverless.py
pr-agent\pr_agent\servers\utils.py
pr-agent\pr_agent\servers\__init__.py
pr-agent\pr_agent\servers\atlassian-connect.json
pr-agent\pr_agent\servers\azuredevops_server_webhook.py
pr-agent\pr_agent\servers\bitbucket_app.py
pr-agent\pr_agent\servers\bitbucket_server_webhook.py
pr-agent\pr_agent\servers\gerrit_server.py
pr-agent\pr_agent\servers\github_action_runner.py
pr-agent\pr_agent\servers\github_app.py
pr-agent\pr_agent\servers\github_polling.py
pr-agent\pr_agent\settings\custom_labels.toml
pr-agent\pr_agent\settings\ignore.toml
pr-agent\pr_agent\settings\.secrets_template.toml
pr-agent\pr_agent\settings\configuration.toml
pr-agent\pr_agent\agent\pr_agent.py